# Configuración de red para la interfaz interna
# Direccionamiento estático
network:
    ethernets:
       ${DHCP_INTERFACE}: 
           addresses: [${INTERNAL_IP}/${INTERNAL_MASK}]
           gateway4: 127.0.0.1
