Source: ltsp-raspi-builder
Section: admin
Priority: optional
Maintainer: Miguel Sanchez <sanchezsanzvgk@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/sample-package.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/sample-package.git

Package: ltsp-raspi-builder
Architecture: any
Depends: ${shlibs:Depends}, ltsp-server, ltsp-server-standalone, dnsmasq, epoptes
Description: Soporte LTSP para Raspberry Pi como cliente semiligero.
 Este paquete añade soporte al 
 Servidor LTSP de Raspberry Pi's
 como clientes semiligeros, 
 permitiendo mejorar su rendimiento.
