Source: ltsp-raspi-builder
Section: admin
Priority: optional
Maintainer: Miguel Sanchez <sanchezsanzvgk@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/sample-package.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/sample-package.git

Package: ltsp-raspi-builder
Architecture: any
Depends: ${shlibs:Depends}, ltsp-server, ltsp-server-standalone, dnsmasq, epoptes
Description: Añadir soporte al servidor LTSP para Raspberry Pi's como clientes semiligeros.
 Este paquete añade soporte al Servidor LTSP de Raspberry Pi's
 como clientes semiligeros, asi permitiendo mejorar el rendimiento de las 
 Raspberry Pi's como clientes de un servidor LTSP.
